<?xml version='1.0' encoding='utf-8'?>
<plugin id="badr.moe.crosswalk-permissions"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CrosswalkPermissions</name>
    <description>Request the necessary crosswalk permissions on Android for a Cordova project.</description>
    <author>Mohamed Badr</author>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=2.9"/>
    </engines>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:name="android.hardware.camera"/>
            <uses-feature android:name="android.hardware.camera.autofocus"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.CAMERA"/>
        </config-file>
    </platform>
</plugin>